@import '../../assets/stylus/mixin.styl'
html,body
    height:100%
    background-color: #f2f2f2
    color: #999999
#app
    height 100%
    width: 100%
    background-color: #f2f2f2
    font-size 14px
.fs18
    font-size: 18px
.fs16
    font-size: 16px
.fs14
    font-size: 14px
.nowrap
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
.paddingLR12
    padding: 0 12px
.gray
    background-color: gray
.t-header
    background $headerBg
    height 150px
    width 100%
.displayNo
    display none !important
.bloder
    font-weight: bolder
.slide-enter-active, .slide-leave-active
  transition all 0.3s
.slide-enter, .slide-leave-to
  transform translate3d(100%, 0, 0)

.editPwd
    position fixed
    top 0
    left 0
    height 100%
    width 100%
    background rgba(0, 0, 0, 0.5)
    display flex
    align-items center
    justify-content center
    z-index 1
    .ep-box
        width: 318px
        box-sizing: border-box
        background-color: #ffffff
        text-align: center
        .ep-content
            padding: 0 12px
        .e-title
            font-size: 16px
            padding: 20px
        .e-input
            border: 1px solid #dddddd
            height 40px
            width: 90%
            padding: 0 12px
            margin-bottom: 20px
            border-radius: 10px
            box-sizing: border-box
        .epb-btn
            display: flex
            .epbb-sure, .epbb-cancle
                height 46px
                line-height: @height 
                width: 100%
                background-color: #ffffff
                border-top: 1px solid #dddddd
                color: #ed4b4b
            .epbb-cancle
                background: #ffffff
                border-right: 1px solid #dddddd
                color: #333333
.changeClass
    position: fixed
    right: 20px
    bottom: 20px
    width: 58px
    height: 58px
    z-index 100
    .classRadio
        height: 50px
        width: @height
        border-radius: @height
        line-height: @height
        font-size: 12px
        color: #ffffff
        background: #ef4f4f
// 表情
.emoticon
    width 100%
    height 330px
    display flex
    flex-wrap wrap
    padding 0 12px
    box-sizing border-box
    .e-list
        width 35px
        height 30px 
        display flex
        align-items center
        justify-content center
        .el-img 
            width 25px
            height @width
.red
    color $de-color
.pnl-list
    /deep/ .mint-cell-wrapper
        display flex
        justify-content space-between
        .mint-cell-title
            max-width 70%
            .mint-cell-text
                display block
                no-wrap()
        .is-link
            width 20%
            margin-right 0
            display flex
            justify-content flex-end
.v-list
    // position fixed
    // top 50px
    width 100%
    .swiper-slide
        height 40px
        width 100px
        line-height @height
        text-align center
        background #ffffff
        border-right 1px solid #dddddd
        border-bottom 1px solid #dddddd
        &:last-child
            border-right 0
.pn-null
    height: 70vh
    width: 100%
    display: -webkit-box
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 0.12rem;
.mint-msgbox-confirm
    color: rgb(239, 79, 79)
.logo
    position absolute
    top 15px
    left 12px
.fc-logo
    position absolute
    right 12px
    top 50px
    height 50px
    width 154px
.mint-navbar .mint-tab-item.is-selected
    border-bottom: 0.03rem solid rgb(239, 79, 79)
    color: rgb(239, 79, 79)
.mint-radio-input:checked + .mint-radio-core
    background-color: rgb(239, 79, 79)
    border-color: rgb(239, 79, 79)
.red
    background-color: rgb(239, 79, 79)
    color: #ffffff
.swiper-slide-active
    background-color: rgb(239, 79, 79) !important
    color: #ffffff !important

