html,body
    height:100%
#app
    height 100%
    width: 100%
    background-color: #f0f0f0
    font-size 14px
.fs18
    font-size: 18px
.fs16
    font-size: 16px
.fs14
    font-size: 14px
.nowrap
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
.paddingLR12
    padding: 0 12px
.gray
    background-color: gray
.t-header
    background $headerBg
    height 150px
    width 100%
.bloder
    font-weight: bolder
.slide-enter-active, .slide-leave-active
  transition all 0.3s
.slide-enter, .slide-leave-to
  transform translate3d(100%, 0, 0)

.editPwd
    position fixed
    top 0
    height 100%
    width 100%
    background rgba(0, 0, 0, 0.5)
    display flex
    align-items center
    justify-content center
    .ep-box
        width: 318px
        box-sizing: border-box
        padding: 0 12px
        .e-input
            border: 1px solid #dddddd