// 颜色定义规范
$bg-color = rgb(239, 79, 79)
$fs-content = #3e3c3c
$fs-time = #a29f9f
$de-color = rgb(239, 79, 79)

//字体定义规范
$defaultFs = 16px
$fs22 = 22px
$fs20 = 20px
$fs18 = 18px
$fs16 = 16px
$fs14 = 14px

// 顶部背景图片
$headerBg = url(../../assets/images/header-bg.png) top no-repeat

// 整体外部间距
$pagePadding = 12px